@media screen and (min-width: 500px) {
  // -------------------------------UTILITY CLASSES
  .padd {
    padding: 5rem 4rem;
  }

  .card-links-container {
    flex-direction: row;
    gap: 2rem;
  }
  // -------------------------------HEADER
  .header {
    padding: 1rem 2rem;
    &__nav {
      flex-direction: row;

      transform: scale(1);
      position: static;
      padding-left: 0;
      padding-right: 0;
      border: 0;
    }

    &__hamburger {
      display: none;
    }
  }

  // -------------------------------HERO
  .hero__content--title {
    span:first-child {
      display: inline;
    }
  }

  // -------------------------------TRAINER
  .trainer__content--card {
    gap: 4rem;
  }
}
