@media screen and (min-width: 800px) {
  // -------------------------------UTILITY CLASSES

  .sec-title {
    span {
      display: inline-block;
      word-spacing: 2px;
    }
  }
  // -------------------------------HERO
  .hero__content {
    flex-direction: row;
    align-items: center;

    & > div {
      flex-basis: 60%;
    }

    &--title {
      font-size: 12rem;
    }
  }

  // -------------------------------GALLERY
  .gallery__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &--img:last-child {
      grid-column: 1 / -1;
    }
  }

  // -------------------------------PRICING
  .pricing {
    &__content {
      &--plans {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: min-content;
        gap: 0;

        &__plan.famous-plan {
          transform: scaleY(1.05);
        }

        &__plan.famous-plan,
        &__plan.expert-plan {
          margin-left: -1px;
          z-index: 1;
        }
      }
    }
  }
}
